#main{
	background-color: #f0f0f0;
	color:red;
	font-family: georgia;
	font-size: 0.8em;
}

th{
	background-color: #4CAF50;
	color:white;
}

#my-name{
	color: #7c795d;
	font-family: serif;
	font-weight: bold;
}

.baris-ganjil{
	background-color: #f2f2f2;
}

a:hover{
	color:green;
}



