body{
	background-image: url("../src/images/background.png");
	background-size:contain;
}

ul {
    background: #3399ff;
    padding: 20px;
	list-style-type: square;
}ul li {
    background: #cce5ff;
    margin: 5px;
}

ul:hover{
	background-color: red;
    animation-name: change-list;
    animation-duration: 4s;
}

table{
	height: 100px;
	-webkit-transition: height 2s; /* Safari */
    transition: height 1.5s;
}
table:hover{
	height: 200px;
}

th{
	background-color: #4CAF50;
	color:white;
}

td{
	background-color: #f0f0f0;
}

#navbar{
	background-color: #000000;
	height: 40px;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}

#background{

	width: 100%;
	height: 100%;
}

#form-field{
	padding-top : 80px;
}

#text_1{
	font-style: italic;
	color: white;
}

#list{
	margin-left: 40px;
}

#jerapah{
	height: 200px;
	width: 200px;
	margin-left: 640px;
	position: fixed;
	background-size:contain;
	background-image: url("../src/images/jerapah.png");
}

#img-welcome{
}

.atas{
	display: inline-block;
}
.elem{
	text-decoration:none;
	padding-left:30px;
	padding-right:30px;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	color: #00ccff
}

.elem:hover{
	color:green;
}

@keyframes change-list {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
